[data-comment-form-toggle] {
  display: none;
}

.comment-form {
  position: relative;
  display: flex;
  flex-flow: row;
  gap: var(--size-2);
  align-items: flex-start;
}

.comment-form__body {
  display: flex;
  flex-flow: column;
  gap: var(--size-2);
  flex: 1;
}

.comment-form > *:first-child {
  --icon-size: var(--size-8);
  margin-top: 2px;
}

textarea.comment-form__input {
  width: 100%;
  border: 1px solid var(--color-input);
  border-radius: var(--radius-sm);
  padding: var(--input-py, 0) var(--input-px, var(--size-2));
  height: var(--input-h, var(--size-9));
  background-color: var(--input-bg, var(--color-bg-secondary));
  resize: none;
  line-height: var(--input-lh, calc(var(--size-9) - 2px));
  transition: background-color 0.3s;
}

textarea.comment-form__input:is(:focus, :required:valid) {
  --input-py: var(--size-1);
  --input-bg: var(--color-pad);
  --input-lh: var(--line-md);
  --input-h: var(--size-16);
}

textarea.comment-form__input:is(:focus, :required:valid)::placeholder {
  color: transparent;
}

textarea.comment-form__input:not(:required:valid) + .comment-form__actions {
  display: none;
}
