ul.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
}

ul.list > li {
  padding-top: var(--size-6);
  padding-bottom: var(--size-6);
  border-bottom: var(--list-border-h, 1px) solid
    var(--list-border, var(--color-border));
}

ul.list > li:first-child {
  border-top: var(--list-border-h, 1px) solid
    var(--list-border, var(--color-border));
}
